{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "format": "table",
  "plugins": [
	"@typescript-eslint"
  ],
  "extends": [
	"eslint:recommended",
	"plugin:@typescript-eslint/eslint-recommended",
	"plugin:@typescript-eslint/recommended"
  ],
  "rules": {
	"@typescript-eslint/explicit-module-boundary-types": 0,
	"@typescript-eslint/no-explicit-any": 0
  }
}
